<cruisecontrol xmlns:cb="urn:ccnet.config.builder">




  <queue name="SVN001" lockqueues="PS001,PC001" />
  <queue name="PS001" lockqueues="SVN001,PC001" />
  <queue name="PC001" lockqueues="SVN001,PS001" />




  <!-- ============================== "SVN - Cleanup & Update ( _All_ )" ============================== -->


  <project name="SVN - Cleanup N Update ( _All_ )" queue="SVN001" queuePriority="1">


    <webURL>http://10.255.10.12:80/ccnet/server/local/project/SVN - Cleanup N Update ( _All_ )/ViewLatestBuildReport.aspx</webURL>


    <labeller type="dateLabeller" />


    <triggers>
      <scheduleTrigger time="06:00" buildCondition="ForceBuild" name="Schedule"/>
    </triggers>


    <tasks>

      <exec>
        <executable>_SVN_Cleanup.bat</executable>
        <buildArgs>D:\_Patch_Task\RP_SVN\Design_Team</buildArgs>
        <baseDirectory>D:\_Patch_Task\Work\_Batch_Base</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </exec>

      <exec>
        <executable>_SVN_Cleanup.bat</executable>
        <buildArgs>D:\_Patch_Task\RP_SVN\Program_Team</buildArgs>
        <baseDirectory>D:\_Patch_Task\Work\_Batch_Base</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </exec>

      <exec>
        <executable>_SVN_Revert.bat</executable>
        <buildArgs>D:\_Patch_Task\RP_SVN\Design_Team</buildArgs>
        <baseDirectory>D:\_Patch_Task\Work\_Batch_Base</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </exec>

      <exec>
        <executable>_SVN_Revert.bat</executable>
        <buildArgs>D:\_Patch_Task\RP_SVN\Program_Team</buildArgs>
        <baseDirectory>D:\_Patch_Task\Work\_Batch_Base</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </exec>

      <exec>
        <executable>_SVN_Update.bat</executable>
        <buildArgs>D:\_Patch_Task\RP_SVN\Design_Team</buildArgs>
        <baseDirectory>D:\_Patch_Task\Work\_Batch_Base</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </exec>

      <exec>
        <executable>_SVN_Update.bat</executable>
        <buildArgs>D:\_Patch_Task\RP_SVN\Program_Team</buildArgs>
        <baseDirectory>D:\_Patch_Task\Work\_Batch_Base</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </exec>

    </tasks>


  </project>




  <!-- ============================== "PATCH - Server" ============================== -->


  <project name="PATCH - Server" queue="PS001" queuePriority="1">


    <webURL>http://10.255.10.12:80/ccnet/server/local/project/PATCH - Server/ViewLatestBuildReport.aspx</webURL>


    <labeller type="dateLabeller" />


    <triggers>
      <scheduleTrigger time="07:00" buildCondition="ForceBuild" name="Schedule">
        <weekDays>
          <weekDay>Tuesday</weekDay>
          <weekDay>Wednesday</weekDay>
          <weekDay>Thursday</weekDay>
          <weekDay>Friday</weekDay>
          <weekDay>Saturday</weekDay>
        </weekDays>
      </scheduleTrigger>
    </triggers>


    <tasks>

      <exec>
        <executable>Server_One_Step_Patch.bat</executable>
        <baseDirectory>D:\_Patch_Task\Work\_Server_Patch\_Batch</baseDirectory>
        <buildArgs>VS2010</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>

    </tasks>


  </project>




  <!-- ============================== "PATCH - Client" ============================== -->


  <project name="PATCH - Client" queue="PC001" queuePriority="1">


    <webURL>http://10.255.10.12:80/ccnet/server/local/project/PATCH - Client/ViewLatestBuildReport.aspx</webURL>


    <labeller type="dateLabeller" />


    <triggers>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Schedule">
        <weekDays>
          <weekDay>Tuesday</weekDay>
          <weekDay>Wednesday</weekDay>
          <weekDay>Thursday</weekDay>
          <weekDay>Friday</weekDay>
          <weekDay>Saturday</weekDay>
        </weekDays>
      </scheduleTrigger>
    </triggers>


    <tasks>

      <exec>
        <executable>Client_One_Step_Patch.bat</executable>
        <baseDirectory>D:\_Patch_Task\Work\_Client_Patch\_Batch</baseDirectory>
        <buildArgs>VS2010</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>

    </tasks>


  </project>
  
  
  
  
  
  
  
  
  
</cruisecontrol>




