<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.46">
    <installation>TortoiseHg</installation>
    <source>http://program:mercurial!23@10.255.10.13/RP/Project_RP/</source>
    <modules></modules>
    <subdir>D:\Build\RP_Source_Jenkins\default</subdir>
    <clean>true</clean>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://program:mercurial!23@10.255.10.13/RP/Project_RP/</url>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>#0 3 * * 1</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>D:\Build\RP_Source_Jenkins\default\Client\</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Base\_Merge_File.bat ReleaseNote_stable.txt ReleaseNote_default.txt</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Base\_File_Size_Check.bat ReleaseNote_default.txt</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Common\Common_00_Update_SVN_Weekly.bat</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.18">
      <msBuildName>.NET 4.0</msBuildName>
      <msBuildFile>.\Game\SFrame10.sln</msBuildFile>
      <cmdLineArgs>/t:Rebuild /p:Configuration=Release;Platform=Win32</cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.18">
      <msBuildName>.NET 4.0</msBuildName>
      <msBuildFile>.\Game\SFrame10.sln</msBuildFile>
      <cmdLineArgs>/t:Rebuild /p:Configuration=Release_ME;Platform=Win32</cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Client\Client_One_Step_Version_Release_Weekly.bat default &quot;Epic 8 Part 2&quot; VS2010</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Base\_Mercurial_Update.bat</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Base\_Copy.bat D:\Build\Work\Commit_Note _Empty_ReleaseNote.txt .\ ReleaseNote_default.txt</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Base\_Copy.bat D:\Build\Work\Commit_Note _Empty_ReleaseNote.txt .\ ReleaseNote_stable.txt</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>D:\Build\Work\_Batch_Script_Jenkins\_Base\_Mercurial_Commit_N_Push.bat &quot;initialize release note&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <parsingRulesPath>C:\Program Files (x86)\Jenkins\VSParsingRules\VSParsingRules.txt</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.30.2">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>